/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f0f8ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  height: 15vh;
  padding: 1rem 2rem;
  background-color: #f0f8ff;
}

.logo img {
  width: 8rem;
  height: 7rem;
  align-items: left;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
         
nav ul li a {
  text-decoration: none;
  color: #0d1f44;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 5px #9ecaed;
  margin: 5px;
}

.menu-icon i{
  display: none;
}

.menu-icon i{
  color: #0d1f44;
  font-size: 30px;
}

nav ul li :hover {
  background-color: rgba(27, 101, 236, 0.1);
}

@media (max-width: 693px) {
  .navbar ul{
      position: absolute;
      top: 107px;
      left: 0;
      right: 0;
      bottom: 10px;
      flex-direction: column;
      text-align: center;
      background: #f0f8ff;
      gap: 0;
      overflow: hidden;
    }
 nav ul li{
  padding: 25px;
 }
 .menu-icon i{
  display: block;
 }
 #menuList{
  transition: all 0.5s;
 }
}



/* Hero Section */
.hero {
  background: url("bgcc.jpeg") no-repeat center center/cover;
  text-align: center;
  color: #f9f9f9;
  background-position: center;
  height: 79vh;
  padding: 5rem 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 8px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f9f9f9;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #f9f9f9;
}

.hero h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #f9f9f9;
}


/* Section container */
.bnt-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Header styles */
.header {
  margin-bottom: 20px;
}

.logoo {
  width: 175px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.app-section {
  background-color: #f9f9f9;
}

h2 {
font-size: 2rem;
color: #0d1f44;
text-align: center;
}

p {
color: #6c757d;
text-align: center;
}

h1 {
  font-size: 2rem;
  color: #2a2a2a;
  margin: 10px 0;
}

.download-btn {
  display: inline-block;
  background-color: #0b3dab;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.download-btn:hover {
  background-color: #092f8b;
}

/* Features section */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature {
  width: 250px;
  background-color: #e7f3ff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feature-image {
  width: 100%;
  border-radius: 10px;
}

.feature p {
  margin: 10px 0 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .feature {
    width: 90%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .download-btn {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}


/* success section */
.success-section {
  text-align: center;
  padding: 2rem 1rem;
  color: #0d1f44;
  background-color: #f9f9f9;
}

.success-section img {
    width: 600px;
    height: 200px;
    align-items: left;
}

p {
  color: #6c757d;
  text-align: center;
  }

.success-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.success-section h3 {
  color: #6c757d;
  font-size: medium;
  background-color: yellow;
}

.success-metrics {
  display: flex;
  justify-content: center;
  background-color: #e9f2fc;
  padding: 20px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 50px;
}

.metric {
  text-align: center;
}

.metric .number {
  font-size: 25px;
  font-weight: bold;
  color: #0d1f44;
}

.metric .label {
  font-size: 17px;
  color: #6c757d;
  margin-top: 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .success-metrics {
    flex-direction: column;
    gap: 10px;
  }

  .metric .number {
    font-size: 28px;
  }

  .metric .label {
    font-size: 12px;
  }

  .success-section img {
    width: 250px;
    height: 115px;
  }
}

/* social section */

.footer {
  padding: 20px 0;
  background-color: #f9f9f9;
}

.footer-divider {
  height: 1px;
  background-color: #ccc;
  margin: 0 auto;
  width: 90%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer-content p {
  margin: 0;
  color: #555;
  font-size: .85rem;
  text-align: left;
  align-items: center; 
  padding-left: 6rem;
}

.social-icons {
  margin: 0;
  gap: 10px;
  display: flex;
  justify-content: right;
  padding-right: 6rem;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.icon.youtube {
  background-image: url('ytlogo.png');
}

.icon.twitter {
  background-image: url('X.png');
}

.icon.facebook {
  background-image: url('facebook.png');
}

.icon:hover {
  opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 600px) {
  .footer-content p {
    font-size: 12px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}


